# ==========================================
# 1. СЕКРЕТЫ
# ==========================================
.env
.env.*
*.pem
*.key

# ==========================================
# 2. PYTHON
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Виртуальные окружения
venv/
.venv/
env/
ENV/

# Сборка
build/
dist/
*.egg-info/
*.egg
wheels/

# ==========================================
# 3. ТЕСТЫ
# ==========================================
tests/
test/
*_test.py
test_*.py
pytest.ini
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# 4. ЛОГИ И ВРЕМЕННЫЕ ФАЙЛЫ
# ==========================================
*.log
log/
logs/
temp/
tmp/
*.tmp
*.bak
*.cache
.cache/

# ==========================================
# 5. ДАННЫЕ
# ==========================================
pgdata/
.pgdata/
*.sqlite3
*.db
*.dump

# ==========================================
# 6. GIT
# ==========================================
.git/
.gitignore

# ==========================================
# 7. DOCKER
# ==========================================
Dockerfile
.dockerignore

# ==========================================
# 8. IDE И ОС
# ==========================================
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# ==========================================
# 9. ДОКУМЕНТАЦИЯ
# ==========================================
*.md
docs/
README*

# ==========================================
# 10. Archive
# ==========================================
archive/
.archive/